main {
  display: flex;
  align-content: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
}

.mainHeader{
font-family: "Courier New", Courier, monospace;
font-size: 50px;
letter-spacing: 3px;
word-spacing: 1px;
color: #DAD4FF;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
color: #FFF;
padding: 2rem;
text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

#background {
  display: flex;
	background-image: url(https://cdn.discordapp.com/attachments/1034470868069400708/1035230691199291454/Enlight305.jpg);
	height: 1000px;
    width: 300vh;
   /* animation: slide 200s linear infinite */
  
}

#messages-container {
  display: flex;
  float: right;
  flex-direction: column;
  background-color: transparent;
  overflow-y: scroll;
  height: 100%;
  width: 450px;
}
#messages-header {
  display: flex;
}
.message-box {
  display: flex;
  flex-direction: column;
  background-color: #ee45d256;
  border: #731363;
  border-radius: 50px;
  padding: 20px;
  width: 60%;
  margin: 10px;
}

.message-name {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}


.message {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}
.time-stamp {
  font-size: 0.8rem;
  text-align: center;
}
.form-style-3 {
  max-width: 450px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
}
.form-style-3 label {
  display: block;
  margin-bottom: 10px;
}
.form-style-3 label > span {
  float: left;
  width: 200px;
  color: #f072a9;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #ffd2d2;
  padding: 20px;
  background: #fff4f4;
  box-shadow: inset 0px 0px 15px #ffe5e5;
  -moz-box-shadow: inset 0px 0px 15px #ffe5e5;
  -webkit-box-shadow: inset 0px 0px 15px #ffe5e5;
}
.form-style-3 fieldset legend {
  color: #ffa0c9;
  border-top: 1px solid #ffd2d2;
  border-left: 1px solid #ffd2d2;
  border-right: 1px solid #ffd2d2;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #fff4f4;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #f1f1f1;
  -moz-box-shadow: -0px -1px 2px #f1f1f1;
  -webkit-box-shadow: -0px -1px 2px #f1f1f1;
  font-weight: normal;
  font-size: 12px;
}
.form-style-3 textarea {
  width: 250px;
  height: 100px;
}
.form-style-3 input[type="text"],
.form-style-3 input[type="date"],
.form-style-3 input[type="datetime"],
.form-style-3 input[type="number"],
.form-style-3 input[type="search"],
.form-style-3 input[type="time"],
.form-style-3 input[type="url"],
.form-style-3 input[type="email"],
.form-style-3 select,
.form-style-3 textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ffc2dc;
  outline: none;
  color: #f072a9;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #ffd5e7;
  -moz-box-shadow: inset 1px 1px 4px #ffd5e7;
  -webkit-box-shadow: inset 1px 1px 4px #ffd5e7;
  background: #ffeff6;
  width: 50%;
}
.form-style-3 input[type="submit"],
.form-style-3 input[type="button"] {
  background: #eb3b88;
  border: 1px solid #063388;
  padding: 5px 15px 5px 15px;
  color: #ffcbe2;
  box-shadow: inset -1px -1px 3px #ff62a7;
  -moz-box-shadow: inset -1px -1px 3px #ff62a7;
  -webkit-box-shadow: inset -1px -1px 3px #ff62a7;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}

.form-style-3 input[type="submit"]:hover {
  background-color: #4580ee;
  transition: 0.2s;
}

.form-style-3 input[type="submit"]:active {
  background-color: #063388;
}

.form-style-3 #psa {
  float: none;
  font-size: 10px;
}

.button:hover {
  background-color: #ee45d2;
  transition: 0.2s;
}

.button:active {
  background-color: #731363;
}

.required {
  color: red;
  font-weight: normal;
}

#quizDiv {
  margin-top: 10px;
}

#quizContainerDiv {
	display: flex;
}

.populatedQuestion {
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  color: #c94a81;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}

.populatedQuestion input {
  margin-left: 2em;
  padding: 2px;
  border-radius: 2px;
}

ol li::marker {
  color: #FF8E50;
  font-weight: bold;
}

#generate-message {
	margin-top:100px;
}

#quizDiv {
  font-family: "Courier New", Courier, monospace;
font-size: 24px;
letter-spacing: 2px;
word-spacing: 0.8px;
color: #FF8E50;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
-webkit-box-shadow: 0px 2px 13px 2px rgba(255,172,121,0.83); 
box-shadow: 0px 2px 13px 2px rgba(255,172,121,0.83);
background: #FFFFFF;
background: -moz-linear-gradient(top, #FFFFFF 0%, #F8FCFA 22%, #E7AEAA 100%);
background: -webkit-linear-gradient(top, #FFFFFF 0%, #F8FCFA 22%, #E7AEAA 100%);
background: linear-gradient(to bottom, #FFFFFF 0%, #F8FCFA 22%, #E7AEAA 100%);
outline: 2px dotted #A45F47;
outline-offset: 0px;
}

.populatedQuestion{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 18px;
letter-spacing: -0.2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;

}

#submit-answers{
  background-color: #FEFFCF;
  -webkit-border-radius: 25px 25px 25px 25px;
border-radius: 25px 25px 25px 25px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 12px;
letter-spacing: -0.2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
  
}
#generate{
-webkit-border-radius: 13px 13px 13px 13px;
border-radius: 13px 13px 13px 13px;
background-color: #E7928E;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 12px;
letter-spacing: -0.2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}


 @keyframes slide{
  0%{
    transform: translate(0);
  }
  100%{
    transform: translate(-4000px);
  }